pandas
numpy
ipykernel
pytube
transformers
datasets
nltk
evaluate
rouge_score
absl-py
torch
transformers[torch]
nltk
matplotlib
scikit-learn
evaluate
rouge_score
accelerate
flask
ffmpeg-python
gTTS
-e .