{% extends 'layout.html' %}

{% block content %}
<section id="intro">
    <div class="container">
        <div class="intro-text">
            <h1>Welcome to VidSum AI</h1>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="VidSum AI Logo">
            </div>
            <a href="#upload" class="cta-button">Get Started</a>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <h2>Our Services</h2>
        <div class="services-list">
            <div class="service">
                <div class="service-icon">
                    <img src="{{ url_for('static', filename='images/transcript_h5uc6cu2d3rq_64.png') }}" alt="Service Icon">
                </div>
                <h3>Video Transcription:</h3>
                <p>You can upload video files or provide video links and our application will transcribe the video
                     into text.</p>
            </div>
            <div class="service">
                <div class="service-icon">
                    <img src="{{ url_for('static', filename='images/translation_g68hxy4y44z5_64.png') }}" alt="Service Icon">
                </div>
                <h3>Translations</h3>
                <p> Transcribed Text can be Translated into different languages.</p>
            </div>
            <div class="service">
                <div class="service-icon">
                    <img src="{{ url_for('static', filename='images/summation_2n6x1vaxt8pg_64.png') }}" alt="Service Icon">
                </div>
                <h3>Intelligent Summarization</h3>
                <p>Let Our system analyze Transcribed text to provide a concise overview of the video 
                    content,making it easier for users to understand the main content of the video.</p>
            </div>
            <div class="service">
                <div class="service-icon">
                    <img src="{{ url_for('static', filename='images/streaming_l7a6rl1bktzp_64.png') }}" alt="Service Icon">
                </div>
                <h3>Audio Play</h3>
                <p>users can listen to the summary of Video through text-to-speech conversion ,enhancing user experience</p>
            </div>
        </div>
    </div>
</section>

<section id="upload">
    <div class="upload-container">
        <h2>Upload Your Video</h2>
        <form id ="upload-form" method="POST" enctype="multipart/form-data" action="{{ url_for('submit') }}">
            <input id="file-upload" type="file" name="file" style="display: none;">
            <span id="file-name"></span> 
            <label for="file-upload" class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt"></i> Choose File
            </label>
            <h2> or paste your link</h2>
            <input type="text" id="video-link" name="video-link" placeholder="Enter Video Link"><br>
            <label for="taskSelect">Select a Task:</label>
            <select id="taskSelect" name="taskSelect">
                <option value="Transcribe">Transcribe</option>
                <option value="Translate">Translate</option>
            </select>
            <button type="submit" class="upload-button">Submit</button>
        </form>
    </div>
</section>

<section id="result-container">
    <section id="transcription" {% if transcription_data %}class="visible"{% endif %}>
        <h2>Transcription</h2>
        <p>{{ transcription_data }}</p>
    </section>
    <button id="audio-play-button">Play Audio</button>
    <audio id="audio-player">
        <!-- Specify the source of the audio file -->
        <source src="../static/Trailer.wav" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <section id="summary" {% if summary_data %}class="visible"{% endif %}>
        <h2>Summary </h2>
        <p>{{ summary_data }}</p>
    </section>
</section>
{% endblock %}
